#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2.5rem;    /* ≈40px */
  width: auto;
  object-fit: contain;
  padding: 0;         /* opcional, ajusta si no quieres padding */
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-grid {
  display: grid;
  /* Ajusta el mínimo y máximo ancho de cada columna */
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;         /* espacio entre tarjetas */
  align-items: start;
  padding: 1rem 0;   /* separación arriba y abajo */
}
